<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-stream"></i> StreamEvents
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events:event_list' %}">Esdeveniments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'semantic_search:semantic' %}">Cerca Semàntica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assistant_chat:page' %}">Assistent IA</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link pe-1" href="{% url 'users:profile' %}">
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="Avatar" class="rounded-circle" width="30" height="30">
                        {% else %}
                        <i class="fas fa-user"></i>
                        {% endif %}
                        {{ user.display_name|default:user.username }}
                    </a>
                    <a class="nav-link dropdown-toggle ps-1" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">El meu perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:edit_profile' %}">Editar perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Tancar sessió</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Iniciar sessió</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Registrar-se</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>